.fb_style {
    font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif!important;
    color: #3b5998!important;
    cursor: pointer!important;
    text-decoration: none!important;
}